<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="commonHeader">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <style>
        .headerWrap {margin-top: 50px; margin-right: 20%; text-align: right; width: 150%}
        .headerWrap button {border: none; border-radius: 10%; margin-right: 10px; padding: 3px; font-weight: normal; font-size: small; color: white;}
        /*.loged {display: none}*/
        .loged button {margin-left: 5px;}
    </style>
    <script>
        $(document).ready(function() {
            $('#loginBtn').on('click', function() {
                let id = $('#formData1').val();
                let pw = $('#formData2').val();

                if(id == '' || id == undefined || id == null) {
                    alert('아이디를 입력해 주세요.'); return;
                }

                if(pw == '' || pw == undefined || pw == null) {
                    alert('비밀번호를 입력해 주세요.'); return;
                }

                $.ajax({
                    url: '/member/login',
                    type: "POST",
                    data: {"id": id, "password": pw},
                    success: function(data) {
                        alert(data.message);
                        location.reload();
                    },
                    error:function(request,status,error){
                        // console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                })
            })

            $('#logoutBtn').on('click', function() {
                $.ajax({
                    url: '/member/logout',
                    type: "POST",
                    success: function() {
                        location.reload();
                    },
                    error:function(request,status,error){
                        // console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                })
            })
        })

    </script>
    <body>
        <div class="headerWrap">
            <div class="unLoged" th:if="${session.memberId == null}">
                <input id="formData1" type="text" th:placeholder="id"/>
                <input id="formData2" type="text" th:placeholder="password"/>
                <button id="loginBtn" style="background: cadetblue" type="button">로그인</button>
            </div>
            <div class="loged" th:unless="${session.memberId == null}">
                <span><strong th:text="${session.memberId}"></strong>님 안녕하세요.</span>
                <button id="logoutBtn" style="background: indianred" type="button">로그아웃</button>
            <div>
        </div>
    </body>
</header>
</html>