<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
    body {position: absolute}
    .topWrap {}
    .outerWrap {position: relative; top: 200px; left: 50%;}
    #productTable td, #productTable th {border: 1px solid black; padding: 18px;}
    #productTable thead th {text-align: left}
    #productTable td {width: 100px;}
    button {border: 2px solid red; border-radius: 20%; margin-right: 10px; background: red; padding: 5px; font-weight: bold; font-size: large; color: white;}
</style>
<script th:inline="javascript">
    let result = [[${result}]];
    if (result != null) {
        if (result) alert('상품 등록에 성공하셨습니다.')
        else alert('상품 등록에 실패하셨습니다.')
    }

    $(document).ready(function() {

    })

    function deleteItem() {
        // let selectedItems = $('input:checkbox')
        // let itemSeqDatas = []
        //
        // $.each(selectedItems, function(index, item) {
        //     if (item.checked){
        //         itemSeqDatas.push($(item).attr('name'))
        //     }
        // })

        let selectedItems = $('input:checkbox').filter(":checked")
        let itemSeqDatas = []

        $.each(selectedItems, function(index, item) {
            itemSeqDatas.push($(item).attr('name'))
        })

        if (itemSeqDatas.length < 1) {
            alert('삭제할 물품을 선택해 주세요.')
            return
        }

        $.ajax({
            url: '/product/delete',
            type: "POST",
            data: {"itemSeqDatas": itemSeqDatas.join(',')},
            success: function(data) {
                alert(data.deletedSize + "개 물품이 삭제되었습니다.");
                location.reload();
            },
            error:function(request,status,error){
                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        })
    }

</script>
<body>
    <header th:replace="/header :: commonHeader"></header>
    <div class="outerWrap">
        <table id="productTable">
            <colgroup>
                <col width="20px" />
                <col width="20px" />
                <col width="200px" />
                <col width="100px" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>순번</th>
                    <th>상품명</th>
                    <th>가격</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product, stat : ${productList}">
                    <td style="text-align: center">
                        <input type="checkbox" th:name="${product.productSeq}"/>
                    </td>
                    <td th:text="${stat.index+1}"></td>
                    <td>
                        <!--<span th:text="${product.productName}" th:onclick="'getProductDetail(' + ${product.productSeq} + ')"></span>-->
                        <span style="cursor: pointer; text-underline: red"
                              th:id="${product.productSeq}"
                              th:text="${product.productName}"
                              th:onclick="|location.href='@{/product/detail/{seq}(seq = ${product.productSeq})}'|"></span>
                    </td>
                    <td th:text="${product.productPrice}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: right">
                        <!--<button th:onclick="'location.href=\'' + @{/product/add} + '\''">등록</button>-->
                        <div th:if="${session.memberId == null}">
                            <button th:onclick="javascript:alert('로그인 후 이용해 주세요.')">등록</button>
                            <button th:onclick="javascript:alert('로그인 후 이용해 주세요.')">삭제</button>
                        </div>
                        <div th:unless="${session.memberId == null}">
                            <button th:onclick="|location.href='@{/product/add/page}'|">등록</button>
                            <button th:onclick="javascript:deleteItem()">삭제</button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</body>
</html>